body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1rem;
  font-family: aecom-sans, Arial, sans-serif;
}

/* colors */

:root {
  --earth: #008768;
  --teal: #057359;
  --lime: #aecc53;
  --green: #044B57;
  --darkgreen: #00353E;
  --dark: #0b0a0a;
  --light: #fff;
  --serif: "abril-titling", serif;
}


/* typography */
.sans-serif {
  font-family: aecom-sans, Arial, sans-serif;
}

.foot-notes {
    font-family: aecom-sans, Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

.serif-regular {
  font-family: var(--serif);
  font-weight: 400;
}

.serif-semibold {
  font-family: "abril-titling", serif;
  font-weight: 600;
}

.serif-bold {
  font-family: "abril-titling", serif;
  font-weight: 700;
}

.slide-title {
  color: #fff;
  line-height: 3.1rem;
}

.section-title {
  font-size: 2rem;
  color: #fff;
  line-height: 3.1rem;
  color: var(--green);
}

.body-text,
.body-text-bold {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.body-text-dark {
  color: var(--dark);
}

.body-text-light {
  color: var(--light);
}

.highlight-number {
  color: var(--lime);
  font-size: 4rem;
  text-align: center;
}

.highlight-number-day {
  color: var(--lime);
  font-size: 2.5rem;
  text-align: left;
  position: relative;
  background: var(--darkgreen);
  width: 95%;
  height: 56px;
  line-height: 56px;
  color: white;
}

.strategy-template_area2 .highlight-number-day {
  margin-left: 30px;
  width: 88%;
}

.highlight-number-day p {
  position: relative;
  z-index: 3;
  font-family: 'AECOM Sans Bd',sans-serif;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.highlight-number-day.serif-regular:after {
  content: "";
  border: 20px solid;
  border-color: var(--darkgreen) var(--darkgreen) transparent transparent;
  height: 0;
  width: 0;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  right: -20px;
  top: 8px;
  z-index: 1;
}

.highlight-number-day.serif-regular:before {
  content: "";
  border: 28px solid;
  border-color: var(--darkgreen) var(--darkgreen) transparent;
  height: 0;
  width: 0;
  display: block;
  transform: rotate(90deg);
  position: absolute;
  left: -30px;
  top: 0;
  z-index: 1;
}

.strategy-template_area3 .highlight-number-day.serif-regular:before {
  border-color: var(--green) var(--green) transparent;
}

.strategy-template_area3 .highlight-number-day.serif-regular:after {
  border-color: var(--green) var(--green) transparent transparent;
}

.strategy-template_area3 .highlight-number-day {
  background-color: var(--green);
}

.day-subtitle {
  color: var(--earth);
}

.body-text-bold {
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.container {
  display: flex;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 400px;
  left: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  height: 100%;
  border-bottom: 1px solid #ddd;
  width: 340px;
  text-align: center;
  flex: 1;
  background-color: var(--earth);
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.nav-item.active {
  background-color: var(--teal);
}

.nav-item:before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  position: relative;
  font-weight: 900;
  left: 90%;
  transition: left 0.3s ease;
}

.nav-item:hover:after {
  left: 15px;
}

.nav-item:hover {
  background-color: var(--teal);
  cursor: pointer;
}

.contact-box {
  background-color: var(--green) !important;
  flex-direction: column;
}

.contact-box-text {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 0 0 0 20px;
}

.contact-name {
  font-size: 1.1rem;
  color: #fff;
}

.contact-box-cta-container {
  display: flex;
  justify-content: right;
  padding-right: 45px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fullpage {
  height: 100vh;
  /* 100% of the viewport height */
}

/* Each section and slide takes up full viewport */
.section,
.slide {
  height: 100vh;
  /* 100% of the viewport height */
  width: 100vw;
  /* 100% of the viewport width */
}

.slide-container {
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.section {
  width: 100%;
}

.home-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  align-self: start;
  overflow: hidden;
  height: 100%;
}

.home-template_area1 {
  grid-area: 1 / 1 / 2 / 5;
  padding-right: 20px;
  align-self: start;
}


.home-template_area2 {
  grid-area: 2 / 1 / 3 / 2;
  align-self: start;
}


.home-template_area3 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: start;
}

.home-template_area4 {
  grid-area: 2 / 3 / 3 / 4;
  align-self: start;
}

.home-template_area5 {
  grid-area: 2 / 4 / 3 / 5;
  align-self: start;
}

.inner-box {
  width: 100%;
}

/* style each slide */

.slide[data-anchor="slide1"] {
  background-image: url(../images/dallas-bg-investor-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* aecom styles */

.aecom-global-cta-sml {
  padding: 5px 30px 5px 15px;
  font-size: 17px;
}

.aecom-global-cta {
  color: #fff;
  border: solid 2px;
  border-radius: 32px;
  text-decoration: none;
  font-family: "AECOM Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  line-height: 24px;
  height: 20px;
}

.second-template {
  display: grid;
  grid-template-columns: repeat(60%, 40%);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.second-template_area1 {
  grid-area: 1 / 1 / 4 / 2;
  height: 100%;
}

.second-template_area2 {
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
}

.second-template_area3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 100%;
}

.second-template_area4 {
  grid-area: 3 / 2 / 4 / 3;
  height: 100%;
}

.ranking-box {}

.ranking-item {
  display: flex;
  float: left;
  width: 50%;
}

.ranking-number {
  color: var(--green);
  font-size: 2rem;
}

.ranking-number-large {
  color: var(--green);
  font-size: 4rem;
}

.ranking-item-text ul li {
  list-style: none;
  margin: 0;
}

.ranking-item-text ul {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ranking-list-item {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
}

.ranking-item-number {
  width: 70px;
  text-align: right;
}

.day-subtitle {
  text-transform: uppercase;
  font-weight: 700;
}

.strategy-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-self: start;
  overflow: hidden;
  height: 100%;
}

.strategy-template_area1 {
  grid-area: 1 / 1 / 2 / 5;
  padding-right: 10%;
  align-self: start;
}


.strategy-template_area2 {
  grid-area: 2 / 1 / 3 / 2;
  align-self: start;
}


.strategy-template_area3 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: start;
}

.strategy-template_area4 {
  grid-area: 2 / 3 / 3 / 4;
  align-self: start;
}

.cap-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-self: start;
  height: 100%;
  margin: 0;
  color: white;
}

.cap-template h1, .cap-template h2, .cap-template h3 {
  font-family: var(--serif);
  font-weight: 400;
}

.cap-template_area1 {
  grid-area: 1 / 1 / 2 / 5;
  padding-right: 20%;
  align-self: start;
  padding: 60px 15% 0 40px;
}
.cap-template_area2 {
  grid-area: 2 / 1 / 2 / 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  align-self: start;
  background-color: var(--darkgreen);
  padding: 20px 60px 40px;
}

.cap-template_child1 {
  grid-area: 1 / 1 / 3 / 5;
  text-align: center;
}

.cap-template_area2 h3 {
  margin: 0 0 20px;
}

.cap-template_area2 ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
}

.cap-template_area2 ul li {
  margin-bottom: 20px;
  line-height: 24px;
  position: relative;
  padding-left: 25px;
}

.cap-template_area2 ul li:before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  color: #008768;
}

.svg-icon {
  width: 120px;
}

.svg-icon svg .cls-1 {
  stroke: white;
}

.long-term-framework-template_area2 {
  margin-bottom: 40px;
}

.long-term-framework-template_area2 table {
  width: 100%;
}

.long-term-framework-template_area2 table th {
  text-align: left;
  padding: 10px;
  color: var(--earth);
}

.long-term-framework-template_area2 table tbody tr:nth-child(odd) {
  /* background-color: #EBEBEB; */
}

.long-term-framework-template_area2 table tbody td {
  border-bottom: 1px solid #ebe8e8!important;
}

.long-term-framework-template_area2 table td {
  text-align: left;
  padding: 10px;
}

.long-term-framework-template_area2 table tr td:first-child {
  font-style: italic;
}

.long-term-framework-template_area2 table tr td:nth-child(2) {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px var(--earth);
  font-size: 24px;
  font-weight: bold;
}

.long-term-framework-template_area2 table tr td:nth-child(3) {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px var(--earth);
  font-size: 24px;
  font-weight: bold;
}

.long-term-framework-template_area3 h3 {
  font-weight: 400;
}

.long-term-framework-template_area3 ul {
  list-style: none;
  padding: 0;
}

.long-term-framework-template_area3 ul li {
  margin-bottom: 4px;
  padding-left: 12px;
  position: relative;
  font-size: 14px;
}

.long-term-framework-template_area3 ul li span {
  position: absolute;
  left: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.project-thubnail {
  width: 100%;
  height: 100%;
}

.project-thubnail img {
  width: 100%;
  height: 100%;
}

.project-label {
  background-color: var(--lime);
  padding: 5px;
  color: var(--light);
  display: inline-block;
  margin-top: 10px;
  font-family: var(--serif);
}

.commitment-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.commitment-template_area1 {
  grid-area: 1 / 1 / 2 / 5;
}

.commitment-template_area2, .commitment-template_area2, .commitment-template_area4, .commitment-template_area5 {
text-align: center;
}

.commitment-template_area2 {
  grid-area: 2 / 1 / 3 / 2;
}

.commitment-template_area3 {
  grid-area: 2 / 2 / 3 / 3;
}

.commitment-template_area4 {
  grid-area: 2 / 3 / 3 / 4;
}

.commitment-template_area5 {
  grid-area: 2 / 4 / 3 / 5;
}